.navbar{
    min-width: 100%;
    min-height: 25vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    z-index:50 ;
  
}
.nav-head{
    margin-left: 20px;
    font-size: 20px;

}
.navspan{
    color: rgb(207, 98, 221);
    
}
.nav-links{
    text-decoration: none;
}
.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links a{
     color: #fff;
    text-decoration: none;
    margin: 0 10px;
    border: 10px;
    font-size: 20px;
}
.nav-links a:hover{
    color: aqua;
}